locations.json
__pycache__/
.aws/
*.pem
.env

# Lambda build artifacts
lambda_package/
lambda_package.zip
lambda_package_dummy.zip

# Terraform
terraform/.terraform/
terraform/*.tfstate*
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
